.venv/
__pycache__/
*.py[cod]
*.pyo
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.DS_Store
.env

# dirs
api/storage/
spotify/
EternalJukebox/

# Fly.io
fly.toml

# Reference code (not part of project)
EternalJukebox/
forever-jukebox/
