services:
  forever-jukebox:
    platform: linux/amd64
    container_name: forever-jukebox
    image: forever-jukebox
    build: .
    ports:
      - "8000:8000"
    volumes:
      - storage:/app/api/storage
    environment:
      SPOTIFY_CLIENT_ID: "${SPOTIFY_CLIENT_ID:-}"
      SPOTIFY_CLIENT_SECRET: "${SPOTIFY_CLIENT_SECRET:-}"
      YOUTUBE_API_KEY: "${YOUTUBE_API_KEY:-}"
    restart: unless-stopped

volumes:
  storage:
