# Python
.venv/
__pycache__/
*.py[cod]
*.pyo

# Tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# OS
.DS_Store

# Logs
*.log

#dirs
test/benchmark/
training/analysis
training/audio
training/ids.txt
